<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>
    
    <!-- Bootstrap core CSS -->
    <link href="
    {{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/templatemo-grad-school.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/lightbox.css')}}">
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>
  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>NUESTROS CURSOS</span>
            <h4>Cómo descargar
              <em>programas</em></h4>
            <p>En este curso, aprendemos a descargar los programas que vamos a utilizar: Visual Studio Code y Python. Visual Studio Code es un editor de código con soporte para desarrollar operaciones como ejecutar tareas y Python, un lenguaje de programación de alto nivel. 
            <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Power HTML Template</h4>
            </div>
            <figure>
              <a href="https://www.youtube.com/watch?v=m5i-Pq-z9w8"class="play"><img src="
                {{url_for('static', filename='assets/images/descargar_python.png')}}"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
   <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='assets/js/isotope.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/lightbox.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/tabs.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/video.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/slick-slider.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

</html>