<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Penguin Alumni - Pre Bootcamps</title>
    
    <!-- Bootstrap core CSS -->
    <link href="
    {{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/templatemo-grad-school.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/lightbox.css')}}">
<!--
    
TemplateMo 557 Grad School
https://templatemo.com/tm-557-grad-school
-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <!--a href="#"><em>PENGUIN</em> ALUMNI</a-->
      <img src="{{url_for('static', filename='assets/images/penguiac.png')}}">
    
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Inicio</a></li>
        <li class="has-submenu"><a href="#section7">Quiénes somos</a>
          <ul class="sub-menu">
            <li><a href="#section7">¿Quiénes somos?</a></li>
            <li><a href="#section8">¿Qué hacemos?</a></li>
            <li><a href="https://templatemo.com/about" rel="sponsored" class="external">External URL</a></li>
          </ul>
        </li>
        <li><a href="#section4">Clases</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contacto</a></li>
        <li><a href="https://penguin.academy/dl/Bootcamp/s/783bbb" class="external">Seguir aprendiendo</a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{{url_for('static', filename='assets/images/videogrupal.mp4')}}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>PENGUIN ACADEMY</h6>
              <h2><em>PENGUIN</em> ALUMNI</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section7">Descubrí más sobre nosotros</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <!--====== TEAM STYLE ONE START ======-->
<section class="team-area">
  <div class="section-heading">
    <h2>¿Quiénes somos?</h2>
  </div>
  <pr style="color: white; padding-left: 50px; padding-right: 50px;">Somos un grupo de personas que participó en los bootcamps de Penguin Academy.<br> Nos dimos cuenta de que el principal obstáculo a la hora de aprender a programar, no es siempre la falta de recursos, sino el miedo a la tecnología.  <br> <br>La programación parece intimidante, sin embargo, creemos que tener contacto con personas en tu misma situación (es decir, completos novatos)<br> podría ayudarte a perderle el miedo y animarte a aprender habilidades que te van a cambiar la vida.  <br> <br></pr>
  <div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-8">
           <div class="single-team text-center team-style-one">
              <div class="team-image">
                 <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilcostanza.png')}}" alt="Costanza" />
              </div>
              <div class="team-content">
                 <h4 class="name">Costanza Caligari</h4>
                 <span class="sub-title">Front-end / Penguin Alumni</span>
                 <br>
                 <p>24 años. Me apasiona la investigación en Ciencias Sociales. Empecé el bootcamp de Penguin para adquirir las herramientas necesarias para el análisis de datos. ¡Les animo a probar esta experiencia! Si una completa novata como yo pudo, vos también :)</p>
                 <ul class="social">
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-facebook-filled"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-twitter-original"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-linkedin-original"></i>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <!-- single team -->
        </div>
        <div class="col-lg-4 col-md-8">
           <div class="single-team text-center team-style-one">
              <div class="team-image">
                 <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfiljoaquin.png')}}" alt="Joaquín" />
              </div>
              <div class="team-content">
                 <h4 class="name">Joaquín Abente</h4>
                 <span class="sub-title">Front-end / Penguin Alumni</span>
                 <br>
                 <p>27 años. Entusiasta de todo lo que tenga que ver con café y la historia en general. Empecé este bootcamp de Penguin con interés hacia la programación pero sin ningún tipo de conocimiento previo. ¡Animarse es el primer paso! Audaces fortuna iuvat.</p> 
                 <ul class="social">
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-facebook-filled"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-twitter-original"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-linkedin-original"></i>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <!-- single team -->
        </div>
        <div class="col-lg-4 col-md-8">
           <div class="single-team text-center team-style-one">
              <div class="team-image">
                 <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfiljaz.png')}}" alt="Team" />
              </div>
              <div class="team-content">
                 <h4 class="name">Jazmín Sánchez</h4>
                 <span class="sub-title">Comunicación / Penguin Alumni</span>
                 <br>
                 <p>Tengo 32 años y soy Licenciada en Ciencias Políticas. Decidí encarar el bootcamp de Penguin para vivir de primera mano el mundo de la programación. Creo que cualquiera puede sacar algo útil a la hora de programar para sus proyectos personales.</p>
                 <ul class="social">
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-facebook-filled"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-twitter-original"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-linkedin-original"></i>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           </div>
          
  </section>
<!--====== TEAM STYLE ONE ENDS ======-->
  <section class="team-area">
  <div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-8">
           <div class="single-team text-center team-style-one">
              <div class="team-image">
                 <img src="
                 {{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilaraceli.png')}}" alt="Araceli" />
              </div>
              <div class="team-content">
                 <h4 class="name">Araceli López</h4>
                 <span class="sub-title">Back-end / Penguin Alumni</span>
                 <br>
                 <p>Tengo 22 años y estudio medicina. Comencé esto sin saber de tecnología, y salgo confiada en mis nuevas habilidades, lista para nuevos desafíos. Programar puede ser intimidante, pero después te sentís imparable. ¡Animate vos también, todos podemos programar!</p>
                 <ul class="social">
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-facebook-filled"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-twitter-original"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-linkedin-original"></i>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <!-- single team -->
        </div>
        <div class="col-lg-4 col-md-8">
           <div class="single-team text-center team-style-one">
              <div class="team-image">
                 <img src="
                 {{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilgabi.png')}}" alt="Gabi" />
              </div>
              <div class="team-content">
                 <h4 class="name">Gabriela Fleitas</h4>
                 <span class="sub-title">Back-end / Penguin Alumni</span>
                 <br>
                 <p>Holis! Soy Gabi, estudio agro y amo la ciencia. Descubrí python hace unos años e intenté aprender sola, pero no entendía mucho. Gracias al Bootcamp comprendí muchas cosas y me siento preparada para aprender más. ¡¡No tengan miedo y anímense!!</p> 
                 <ul class="social">
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-facebook-filled"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-twitter-original"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-linkedin-original"></i>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <!-- single team -->
        </div>
        <div class="col-lg-4 col-md-8">
           <div class="single-team text-center team-style-one">
              <div class="team-image">
                 <img src="
                 {{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilarami.png')}}" alt="Arami" />
              </div>
              <div class="team-content">
                 <h4 class="name">Arami Giménez</h4>
                 <span class="sub-title">Front-end y Design / Penguin Alumni</span>
                 <br>
                 <p>Tengo 19 años y estudio psicología. Participé del bootcamp de Penguin porque me interesaba aprender a desarrollar páginas web, específicamente la parte de front end. En estas semanas aprendí muchísimo, y estoy segura de que vos también lo harás.</p>
                 <ul class="social">
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-facebook-filled"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-twitter-original"></i>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:void(0)">
                       <i class="lni lni-linkedin-original"></i>
                       </section>
                      </a>
                    </li>
                 </ul>
              </div>
           </div>
           </div>
  </section>         
<section class="team-area">
  <div class="section-heading">
    <h2>¿Qué hacemos?</h2>
     </div>
     <pr style="color: white; padding-left: 50px;">Ofrecemos clases introductorias de programación, dadas por los/as participantes de bootcamps de ediciones anteriores.  <br> Así como vos, todos/as empezamos como completos principiantes. Esto nos da la pauta que, después de <br> dos semanas de  aprendizaje en los bootcamps de Penguin Academy, vos también podes volverte un/a programador/a.  </pr>          
</section>  

  <section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>¡Crea una cuenta en Penguin Alumni!<em>
              Así podes participar en nuestro foro y guardar tu progreso</em>
              <br>
              <h5>Apurate, solo faltan estos días para el siguiente bootcamp:</h5> </h4>
              
              <div class="counter">

                <div class="days">
                  <div class="value">00</div>
                  <span>Days</span>
                </div>

                <div class="hours">
                  <div class="value">00</div>
                  <span>Hours</span>
                </div>

                <div class="minutes">
                  <div class="value">00</div>
                  <span>Minutes</span>
                </div>

                <div class="seconds">
                  <div class="value">00</div>
                  <span>Seconds</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <div class="top-content">
              <h6> ¡Registrate!</h6>
            </div>
            <form id="contact" action="" method="get">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Tu nombre" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Tu email" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Tu nombre de usuario" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Registrarse</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="section courses" data-section="section4">
  <div class="container-fluid">  
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
      <h2>Elegí la clase que quieras tomar:</h2>
      </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <a href="{{url_for('descargar_programa')}}"><img src="{{url_for('static', filename='assets/images/fotosclases/comodescargar.png')}}" alt="Descargar programas"></a>
            <div class="down-content">
              <a href="{{url_for('descargar_programa')}}"><h4>Cómo descargar programas</h4></a>
              <p>Te guiamos paso a paso desde el primer momento: la descarga de los programas que vamos a usar.</p>
              <div class="author-image">
                <img src="
                {{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilaraceli.png')}}" alt="Araceli">

              </div>
              <div class="text-button-pay">
                <a href="{{url_for('descargar_programa')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="{{url_for('variables')}}"><img src="{{url_for('static', filename='assets/images/fotosclases/variables.png')}}" alt="Variables"></a>
            <div class="down-content">
              <a href="{{url_for('variables')}}"><h4>Fundamentos: 1. Variables</h4></a>
              <p>Iniciamos nuestro camino a la programación. En esta clase, daremos lo principal para manejar los datos con los que vamos a trabajar, las variables.</p>
              <div class="author-image">
                <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilarami.png')}}" alt="Arami">
              </div>
              <div class="text-button-free">
                <a href="{{url_for('variables')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="{{url_for('operadores')}}"><img src="{{url_for('static', filename='assets/images/fotosclases/operadores.png')}}" alt="Operadores"></a>
            <div class="down-content">
              <a href="{{url_for('operadores')}}"><h4>Fundamentos: 2. Operadores</h4></a>
              <p>Luego de aprender lo básico sobre variables, en esta clase aprenderemos cómo operarlas y qué tipo de operaciones podemos realizar con ellas.</p>
              <div class="author-image">
                <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilcostanza.png')}}" alt="Constanza">
              </div>
              <div class="text-button-pay">
                <a href="{{url_for('operadores')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="{{url_for('funciones')}}"></a><img src="{{url_for('static', filename='assets/images/fotosclases/funciones.png')}}" alt="Funciones"></a>
            <div class="down-content">
              <a href="{{url_for('funciones')}}"><h4>Fundamentos: 3. Funciones</h4></a>
              <p>Las funciones son bloques de código que realizan una serie de tareas y devuelven un valor. En esta clase aprenderemos cómo definirlas y utilizarlas.</p>
              <div class="author-image">
                <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilgabi.png')}}" alt="Gabi">

              </div>
              <div class="text-button-free">
                <a href="{{url_for('funciones')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="{{url_for('listas')}}"><img src="{{url_for('static', filename='assets/images/fotosclases/listas.png.')}}" alt="Listas"></a>
            <div class="down-content">
              <a href="{{url_for('listas')}}"><h4>>Fundamentos: 4. Listas</h4>
              <p>Lo especial de las listas es que podemos almacenar cualquier tipo de valor en ellas. En esta clase, vamos a aprender sobre su importancia y cómo utilizarlas.</p>
              <div class="author-image">

                <img src="{{url_for('static', filename='assets/images/fotos de perfil/fotodeperfiljaz.png')}}" alt="Jaz">
              </div>
              <div class="text-button-pay">
                <a href="{{url_for('listas')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="{{url_for('ciclos')}}"><img src="{{url_for('static', filename='assets/images/fotosclases/ciclos.png')}}" alt="Ciclos"></a>
            <div class="down-content">
              <a href="{{url_for('variables')}}"><h4>Fundamentos: 5. Ciclos o loops</h4></a>
              <p>En esta clase, aprenderemos sobre los ciclos o bucles, que son elementos que nos permiten ejecutar bloques de código.</p>
              <div class="author-image">
                <img src="
                {{url_for('static', filename='assets/images/fotos de perfil/fotodeperfiljoaquin.png')}}" alt="Joaquín">
              </div>
              <div class="text-button-free">
                <a href="{{url_for('ciclos')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="{{url_for('condicionales')}}"></a><img src="{{url_for('static', filename='assets/images/fotosclases/condicionales.png')}}" alt="Condicionales"></a>
            <div class="down-content">
              <a href="{{url_for('condicionales')}}"></a><h4>Fundamentos: 6. Condicionales</h4></a>
              <p>En la última clase, aprenderemos sobre las condicionales. Esto nos permitirá hacer que nuestro programa ejecute ciertas instrucciones cuando se cumplan las condiciones que les damos.</p>
              <div class="author-image">
                <img src="
                {{url_for('static', filename='assets/images/fotos de perfil/fotodeperfilaraceli.png')}}" alt="Araceli">
              </div>
              <div class="text-button-free">
                <a href="{{url_for('condicionales')}}">Tomar clase <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>

  </div>       
</div>
</div>
</div>
</div>
  </section>

  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Contactanos</h2>
          </div>
        </div>
        <div class="col-md-6">
        
        <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->
                    
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Tu nombre" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Tu email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu mensaje..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Mandar mensaje</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14428.220801166543!2d-57.5811609!3d-25.3023494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7145a599b514f1f2!2sPenguin%20House%202.0!5e0!3m2!1ses!2spy!4v1644863715046!5m2!1ses!2spy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> allowfullscreen="" loading="lazy"></iframe>" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2022 by Penguin Alumni  
          
           | Codigo Fuente: <a href="https://github.com/gabifleitas/bootcampv" rel="sponsored" target="_parent">GitHub</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{url_for('static', filename='assets/js/isotope.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/lightbox.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/tabs.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/video.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/slick-slider.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
</html>